* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff;
}

.background-picture {
  height: 100vh;
  background-image: linear-gradient(
    to top right,
    rgba(129, 7, 235, 0.8),
    rgba(9, 153, 231, 0.8)
  );
  position: relative;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 750px;
  width: 450px;
  transform: translateX(-200px) translateY(-350px);
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(160, 160, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.music-counter {
  margin-bottom: 20px;
}
.dot {
  height: 280px;
  width: 280px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 3px;
}

.song-name {
  font-size: 42px;
}

.song-creator {
  font-size: 30px;
}

.song-slider {
  width: 70%;
  position: relative;
}

.seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 10px;
  background-color: #92bbec;
  overflow: hidden;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 20px;
  box-shadow: -400px 0 0 400px #d5eebb;
}

.current-time,
.song-duration {
  font-size: 14px;
}

.song-duration {
  position: absolute;
  right: 0;
}
